body {
	background-color: rgb(241, 241, 241);
	font-family: 'Nanum Gothic', sans-serif;
    width: 1732px;
}

/*diyz.html*/
.diyz {
	font-family: 'Nanum Gothic', sans-serif;
	overflow: auto;
	position: relative;
	width: auto;
	height: auto;
	margin-top: 20px;
	margin-left: 52px;
}

.diyz-body {
	float: left;
	width: auto;
	height: auto;
	margin: 0;
}

.template_background {
	float: left;
	width: 1280px;
	height: 720px;
	background-color:black;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#title-img {
	position: absolute;
	top: 50;
	left: 90;
	width: 1100px;
	height: 120px;
}

#s-title {
	position: absolute;
	width: 588px;
	height: 70px;
	top: 50px;
	left: 75px;
}

/*�꽑�깮*/
.diyz-color, .diyz-text, .diyz-background{
	display: inline-block;
	width: 350px;
	height: auto;
	padding: 8% 0;
	background-color: white;
}
.diyz-text {
	
}

article .title {
	float: left;
	width: 100%;
	margin: 10px 0 15px 0;
	text-align: center;
	font-weight: bold;
}

.detail-wrapper {
	float: left;
	width: 350px;
	height: 720px;
	background-color: white;
	display: block;
}

.editable,
.movable {
	display: inline-block;
	position: absolute;
	/*	cursor: move;*/
}

#btn_textEdit {
	position: absolute;
	right: 42px;
	top: -25px;
	cursor: pointer;
}

#btn_textDelete {
	position: absolute;
	right: -2px;
	top: -25px;
	cursor: pointer;
}

/* �뙆�씪 �뾽濡쒕뱶 CSS */
.input-file {
	display: inline-block;
}

.input-file [type="file"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0 none;
}

.file-name:focus {
	outline: none;
}

.input-file .file-label {
	display: inline-block;
	min-width: 53px;
	height: 27px;
	line-height: 24px;
	padding: 0 10px;
	border-radius: 2px;
	font-size: 13px;
	background-color: #333;
	color: #fff;
	text-align: center;
	cursor: pointer;
}

.input-file .file-name {
	width: 220px;
	background: #f5f5f5;
	height: 27px;
	line-height: 26px;
	text-indent: 5px;
	border: 1px solid #bbb;
}

/* �젒洹쇱꽦 �꺆 �룷而ㅼ뒪 �뒪���씪 */
.file-focus {
	outline: 1px dotted #d2310e;
}


/* �씠誘몄� 愿��젴 CSS */
.imgBox {
	position: absolute;
	display: inline-block;
	/*	background-color: rgba(66, 194, 217, 0.2);*/
	z-index: 10;
	/*!!!!!!! �씠誘몄� �겕湲� �굹以묒뿉 �떎�떆 蹂닿린!!! �솢 媛먯떥吏� 紐삵빐�뀥�뀥�뀥�뀥�뀥*/
	height: 16%;
}

.imgBox img:not(.btn_delete) {
	position: relative;
	width: 100%;
	height: 100%;
}

.btn_delete {
	width: 15px;
	height: 15px;
	position: absolute;
	right: -20px;
	top: 5px;
	cursor: pointer;
}

.ui-resizable-helper {
	border: 1px dotted #00F;
}

/* �궗�씠利� 議곗젙 �빖�뱾 CSS */
.ui-resizable-handle {
	position: absolute;
	background-color: rgba(0, 0, 0, .75);
	width: 8px;
	height: 8px;
}

.ui-resizable-ne {
	right: -5px;
	top: -5px;
}

.ui-resizable-se {
	bottom: -5px;
	right: -5px;
}

.ui-resizable-sw {
	bottom: -5px;
	left: -5px;
}

.ui-resizable-nw {
	left: -5px;
	top: -5px;
}

